<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <style>
      body {
      font-family: 'Roboto', sans-serif;
    }
    
    .el-table .green {
      background: #c5e1a5;
    }
    
    .el-table .red {
      background: #ef9a9a;
    }
  </style>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/localforage@1.5.0/dist/localforage.min.js"></script>
  <!--<script src="https://unpkg.com/tween.js@16.3.4"></script>-->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/v-media-query@1.0.3/dist/v-media-query.min.js"></script>
  <script src="hmac-sha512.js"></script>
  <script src="poloniex.js"></script>
  <script src="main.js"></script>
</head>

<body>
  <div id="app">
    <el-tabs v-model="tab">
      <el-tab-pane label="Overview" name="overview">
        <el-row>
          <el-col :span="24">
            <el-table :data="positions" :row-class-name="getRowClassName" border style="width: 100%">
              <el-table-column prop="coin" label="Coin" width="100"></el-table-column>
              <el-table-column prop="amount" label="Amount" width="170" v-if="$mq.resize && $mq.above('480px')"></el-table-column>
              <el-table-column prop="amount_btc" label="Amount (BTC)" v-if="$mq.resize && $mq.above('1200px')"></el-table-column>
              <el-table-column prop="rate_btc" label="Rate (BTC)" v-if="$mq.resize && $mq.above('1200px')"></el-table-column>
              <el-table-column prop="worth_btc" label="Worth (BTC)" v-if="$mq.resize && $mq.above('480px')"></el-table-column>
              <el-table-column prop="change" label="Change" align="center" :formatter="getChangeFormatter"></el-table-column>
              <el-table-column prop="pl" label="P/L" width="120" align="center" :formatter="getPLFormatter"></el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Settings" name="settings">
        <el-form ref="form" :model="settings" label-width="120px">
          <el-form-item label="API Key">
            <el-input v-model="settings.apiKey"></el-input>
          </el-form-item>
          <el-form-item label="Secret">
            <el-input v-model="settings.secret"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="saveSettings">Save</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane v-bind:label="btc_price" name="btcprice" disabled="true"></el-tab-pane>
    </el-tabs>
  </div>
</body>

</html>