<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><span [hidden]="smallScreen">Polo Terminal - </span>Balance: {{ btc.getValue() }} <i class="fa fa-btc"></i>
      (${{ usd.getValue() }})</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#positions-tab" class="mdl-layout__tab is-active">Positions</a>
      <a href="#settings-tab" class="mdl-layout__tab">Settings</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <dialog class="mdl-dialog" class="actions">
      <div class="mdl-dialog__content" id="chartContainer">
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect close" (click)="closePositionDialog()">&#x2716;</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect buy" (click)="addToPosition(currentPosition, 0.01)">Buy 0.01 <i class="fa fa-btc"></i></button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sell" (click)="closePosition(currentPosition)">Sell</button>
      </div>
    </dialog>

    <section class="mdl-layout__tab-panel is-active" id="positions-tab">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Coin</th>
              <th [hidden]="smallScreen">Amount</th>
              <th>Size (<i class="fa fa-btc"></i>)</th>
              <th [hidden]="smallScreen">Bid (<i class="fa fa-btc"></i>)</th>
              <th [hidden]="smallScreen">Worth (<i class="fa fa-btc"></i>)</th>
              <th>Change (%)</th>
              <th>P/L ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pos of positions" [ngClass]="getPositionClass(pos)" (click)="openPositionDialog(pos)">
              <td class="mdl-data-table__cell--non-numeric">{{ pos.coin }}</td>
              <td [hidden]="smallScreen">{{ pos.amount }}</td>
              <td><i [hidden]="!okToScaleUp(pos)" class="fa fa-arrow-up"></i> {{ pos.size }}</td>
              <td [hidden]="smallScreen">{{ pos.bid }}</td>
              <td [hidden]="smallScreen">{{ pos.worthInBtc }}</td>
              <td>{{ pos.change }}</td>
              <td>{{ pos.pl }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="settings-tab">
      <div class="page-content">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="settings.apiKey" class="mdl-textfield__input" type="text" name="api-key">
            <label class="mdl-textfield__label" for="api-key">API Key</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="settings.secret" class="mdl-textfield__input" type="text" name="secret">
            <label class="mdl-textfield__label" for="secret">Secret</label>
          </div>
          <button (click)="saveSettings()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Save
          </button>
        </form>
      </div>
    </section>
  </main>
</div>